@import "tailwindcss";
@import "flowbite/src/themes/default";


/* Global styles configuration (Tailwind v4) */
@theme {
  --font-primary: sans-serif;
  --font-secondary: sans-serif;

  --color-primary: #f05a1a;
  --color-secondary: #db5015;
  --color-background: #f3f4f6;
}

html {
  scroll-behavior: smooth;
}

/* Fix Flowbite bug with duplicated drawer backdrop on mobile devices */
@media (max-width: 640px) {
  [drawer-backdrop]:not(:first-of-type) {
    display: none !important;
  }

  .fc .fc-toolbar {
    align-items: center;
    display: flow;
    justify-content: space-between;
  }
}